<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Student List</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>      
        <div class="d-flex">        
          <button class="btn btn-success" type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add student</button>
        </div>
      </div>
  </nav>
<table class="table table-striped">
<thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Department</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Street No</th>
        <th>city</th>
        <th>country</th>
        <th>pincode</th>

    </tr>
</thead>
<tbody>
    <tr *ngFor="let student of allstudent">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.department}}</td>
        <td>{{student.email}}</td>
        <td>{{student.mobile}}</td>
         <td>{{student.streetNo}}</td>
         <td>{{student.city}}</td>
        <td>{{student.state}}</td>
        <td>{{student.country}}</td>
        <td>{{student.pincode}}</td>
       
        <td>
            <input type="button" value="Edit" (click)="EditStudent(student)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success me-2"/>
            <input type="button" value="Delete" (click)="DeleteStudent(student)" class="btn btn-danger"/>
        </td>
    </tr>
</tbody>
</table>




<!-- Button trigger modal -->
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Student credentials</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3" [formGroup]="formValue">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Name</label>
                    <input type="text" formControlName="name" class="form-control" id="inputName" required>
                  </div>
                  <div class="col-md-6">
                    <label for="department" class="form-label">Department</label>
                    <input type="department" formControlName="department" class="form-control" id="department" required>
                  </div>
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Email</label>
                  <input type="email" formControlName="email" class="form-control" id="inputEmail4" required>
                </div>
                <div class="col-md-6">
                  <label for="mobile" class="form-label">Mobile</label>
                  <input type="number" formControlName="mobile" class="form-control" id="mobile" required>
                </div>

                <div class="col-12">
                  <label for="streetNo" class="form-label">Address</label>
                  <input type="text" class="form-control mt-3" formControlName="streetNo" id="streetNo" placeholder="streetNo">
                  <input type="text" class="form-contro mt-3" formControlName="city" id="city" placeholder="city" required>
                  <input type="text" class="form-control mt-3" formControlName="state" id="state" placeholder="state" required>
                  <input type="text" class="form-control mt-3" formControlName="country" id="country" placeholder="country" required>
                  <input type="number" class="form-control mt-3" formControlName="pincode" id="pincode" placeholder="pincode">
                </div>
              
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning"  data-bs-dismiss="modal">Close</button>
          <button *ngIf="btnSaveShow" type="button" class="btn btn-primary" (click)="AddStudent()" >Register</button>
          <button *ngIf="btnUpdateShow" type="button" class="btn btn-primary" (click)="UpdateStudent()" >Update</button>
        </div>
      </div>
    </div>
  </div>